VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=identity-verification-sy-dd573.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=identity-verification-sy-dd573
VITE_FIREBASE_STORAGE_BUCKET=identity-verification-sy-dd573.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1008215164215
VITE_FIREBASE_APP_ID=1:1008215164215:web:20ffadf8ac74c9869646b2
VITE_FIREBASE_DATABASE_URL=https://identity-verification-sy-dd573-default-rtdb.asia-southeast1.firebasedatabase.app
